#canvas-div {
  position: absolute;
  width: 500px;
  height: 600px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -250px;
}

#canvas {
  border: 1px solid black;
}

#left-panel {
  position: absolute;
  width: 350px;
  height: 600px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -600px;
  box-sizing: border-box;
  padding-top: 40px;
  text-align: center;
  
  background-color: red;
}

#right-panel {
  position: absolute;
  width: 350px;
  height: 600px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 250px;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  
  background-color: red;
}

#top-button {
  width:100px;
  height:200px;
  z-index: 2;
  background-color: blue;
}